﻿@model MyPassionProjectW2024n01605783.Models.WorkoutDto


@{
    ViewBag.Title = "View";
}

<a style="color:#ab2020;" href="/Workout/DeleteConfirm/@Model.WorkoutId" class="btn btn-danger">Delete</a>
<a href="/Workout/Edit/@Model.WorkoutId" class="btn btn-info">Update</a>

<a href="/Workout/List" class="btn btn-success">Go back to list</a>
<div class="mb-3">
    <h2 class="form-label">@Model.WorkoutName</h2>
 </div>
<div class="mb-3">
    <div>Workout Description : @Model.WorkoutDescription</div>
</div>
<div class="mb-3">
    <div>Workout Status: @Model.WorkoutStatus</div>
</div>
<div class="mb-3">
    <div>Workout Id: @Model.WorkoutId</div>
</div>
<div class="mb-3">
    <div>Workout Day: @Model.WorkoutDay</div>
</div>
<div class="mb-3">

    <div>User Name: @Model.UserName</div>
</div>
<div class="mb-3">
    <div>User Id: @Model.UserId</div>
</div>

